* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 40px 1fr;
  color: white;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2588235294) 0%, rgba(0, 0, 0, 0.2588235294) 100%), url(../img/header_index.jpg);
  clip-path: polygon(50% 0%, 100% 0, 100% 96%, 0 78%, 0 0);
  background-size: cover;
  z-index: -1;
}

.header__container {
  max-width: 800px;
  margin-left: 2em;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
}
.header__container .header__title {
  display: block;
  width: fit-content;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1.3rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
.header__container .header__title:nth-child(1) {
  animation-delay: 1s;
}
.header__container .header__title:nth-child(2) {
  animation-delay: 1.5s;
}
.header__container .header__title:nth-child(3) {
  animation: text_reveal_color 0.1ms ease forwards;
  animation-delay: 2.3s;
}
.header__container .header__title span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(132, 161, 255, 0.8);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.1s;
}
.header__container .header__title:nth-child(1) span {
  animation-delay: 0.5s;
}
.header__container .header__title:nth-child(2) span {
  animation-delay: 1s;
}
.header__container .header__title:nth-child(3) span {
  animation-delay: 1.5s;
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
    background-color: rgba(136, 82, 92, 0);
  }
}
@keyframes text_reveal_color {
  100% {
    color: rgba(132, 161, 255, 0.8);
    font-weight: 600;
  }
}
.navbar__nav {
  width: 95%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__nav .nav__logo {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 5px;
  color: white;
}
.navbar__nav .nav__logo:hover {
  color: white;
  text-shadow: 2px 3px 10px rgb(255, 255, 255);
}
.navbar__nav .nav__list {
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2em;
}
.navbar__nav .nav__list .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.navbar__nav .nav__list .nav__list--sub {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.header__btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  /*color: $blanco;*/
  letter-spacing: 4px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.3)) 0 0/400% 100%;
  animation: move-bg 2s infinite alternate-reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.header__btn:hover {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px white 0 0 40px white 0 0 80px white;
  transition-delay: 1.25s;
  color: rgba(132, 161, 255, 0.8);
}
.header__btn span {
  position: absolute;
  display: block;
}
.header__btn #span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
}
.header__btn:hover #span1 {
  left: 100%;
  transition: 1s;
}
.header__btn #span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.3));
}
.header__btn:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.header__btn #span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgba(255, 255, 255, 0.3));
}
.header__btn:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.header__btn #span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(255, 255, 255, 0.3));
}
.header__btn:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.AcercaDe__btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  /*color: $blanco;*/
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, rgba(132, 161, 255, 0.8), rgba(255, 255, 255, 0.3)) 0 0/400% 100%;
  animation: move-bg 2s infinite alternate-reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.AcercaDe__btn:hover {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px white 0 0 40px white 0 0 80px white;
  transition-delay: 1.25s;
  color: rgba(132, 161, 255, 0.8);
}
.AcercaDe__btn span {
  position: absolute;
  display: block;
}
.AcercaDe__btn #span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
}
.AcercaDe__btn:hover #span1 {
  left: 100%;
  transition: 1s;
}
.AcercaDe__btn #span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.3));
}
.AcercaDe__btn:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.AcercaDe__btn #span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgba(255, 255, 255, 0.3));
}
.AcercaDe__btn:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.AcercaDe__btn #span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(255, 255, 255, 0.3));
}
.AcercaDe__btn:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.precios__btn {
  display: block;
  padding: 15px 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: white;
  font-weight: 600;
  font-size: 1.3rem;
  color: rgba(132, 161, 255, 0.8);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  transition: all 0.6s ease;
}
.precios__btn:hover {
  letter-spacing: 0.4rem;
}

.btn {
  margin-top: 67px;
}

.about__container {
  text-align: center;
}
.about__container .about__title {
  color: rgba(132, 161, 255, 0.8);
  font-size: 2.3rem;
  margin-bottom: 25px;
}
.about__container .about__text {
  line-height: 1.7rem;
  font-size: 1.2rem;
  padding-bottom: 50px;
}

.card__container {
  padding-top: 50px;
  display: grid;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.card__container .card__container--info {
  width: 260px;
  height: 200px;
  display: grid;
  gap: 0.6em;
  justify-items: center;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid rgba(231, 231, 231, 0.432);
  background: linear-gradient(to right, rgba(241, 238, 238, 0.185), rgba(218, 218, 218, 0.062)) 0 0/400% 100%;
  animation: move-bg 2s infinite alternate-reverse;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.card__container .card__container--info .card__icon {
  width: 40px;
  top: -10px;
}
.card__container .card__container--info .card__title {
  letter-spacing: 4px;
}
.card__container .card__container--info .card__text {
  line-height: 20px;
  padding: 5px 0;
}

.AcercaDe__container {
  background-color: rgba(201, 201, 201, 0.13);
  margin: 30px 0;
  padding: 50px;
  display: flex;
}
.AcercaDe__container .AcercaDe__container--sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}
.AcercaDe__container .AcercaDe__container--sub .AcercaDe__title {
  color: rgba(132, 161, 255, 0.8);
  font-size: 2.3rem;
  margin-bottom: 25px;
}
.AcercaDe__container .AcercaDe__container--sub .AcercaDe__text {
  line-height: 1.7em;
  margin-bottom: 15px;
}
.AcercaDe__container .AcercaDe__container--sub .AcercaDe__img {
  max-width: 500px;
}
.AcercaDe__container .AcercaDe__container--sub .AcercaDe__img .AcercaDe__img--img {
  width: 100%;
  display: block;
  padding-left: 100px;
}

.precios__container {
  text-align: center;
}
.precios__container .precios__title {
  color: rgba(132, 161, 255, 0.8);
  font-size: 2.3rem;
  margin-bottom: 25px;
}
.precios__container .precios__tabla {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}
.precios__container .precios__tabla .precios__element {
  background: rgba(224, 234, 253, 0.432);
  text-align: center;
  border-radius: 1em;
  width: 310px;
  height: auto;
  padding: 20px 5px 10px;
}
.precios__container .precios__tabla .basic {
  background: rgba(185, 209, 255, 0.432);
}
.precios__container .precios__tabla .basic2 {
  background: rgba(150, 182, 243, 0.468);
}
.precios__container .precios__tabla .basic3 {
  background: rgba(81, 115, 177, 0.432);
}
.precios__container .precios__tabla .basic4 {
  background: rgba(76, 112, 180, 0.633);
}
.precios__container .precios__tabla .basic5 {
  background: rgba(55, 93, 164, 0.657);
}
.precios__container .precios__tabla .precios__title--plan {
  color: rgb(26, 26, 99);
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 2rem;
  text-shadow: 2px 3px 10px rgba(255, 255, 255, 0.7);
}
.precios__container .precios__tabla .precios__precio {
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}
.precios__container .precios__tabla .precios__items {
  margin-top: 35px;
  display: grid;
  gap: 1em;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.616);
  padding-left: 30px;
  justify-items: left;
  list-style: none;
  border-top: 1px solid rgba(220, 220, 220, 0.801);
  padding-top: 15px;
}
.precios__container .precios__tabla .precios__items .precios__info {
  padding-bottom: 15px;
  justify-content: flex-start;
}

.FAQ__container {
  text-align: center;
  justify-items: center;
  margin: 50px 30px 0 30px;
}
.FAQ__container .FAQ__title {
  color: rgba(132, 161, 255, 0.8);
  font-size: 2.3rem;
  margin-bottom: 25px;
}
.FAQ__container .FAQ__text {
  line-height: 1.7em;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.FAQ__container .FAQ__container--container {
  display: grid;
  gap: 2em;
  padding: 50px 0 100px 0;
}
.FAQ__container .FAQ__container--container .FAQ__padding {
  padding: 0;
  transition: padding 0.3s;
  border: 1px solid rgba(132, 161, 255, 0.8);
  border-radius: 6px;
}
.FAQ__container .FAQ__container--container .FAQ__answer {
  padding: 0 30px;
  overflow: hidden;
}
.FAQ__container .FAQ__container--container .FAQ__title-- {
  display: flex;
  padding: 30px 0;
  cursor: pointer;
  font-size: 1.4rem;
  color: rgba(43, 43, 134, 0.8);
  justify-content: space-between;
}
.FAQ__container .FAQ__container--container .FAQ__title-- .FAQ__icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  transition: transform 0.3s;
}
.FAQ__container .FAQ__container--container .FAQ__title-- .FAQ__icon .FAQ__icon--icon {
  display: block;
}
.FAQ__container .FAQ__container--container .FAQ__question {
  text-align: left;
  height: 0;
  transition: height 0.3s;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  font-size: 17px;
}

.comentarios__container {
  background-color: rgba(147, 146, 146, 0.105);
}

.comentarios__container--container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
  width: 95%;
  height: 50vh;
  padding-left: 40px;
}
.comentarios__container--container .comentarios__body {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}
.comentarios__container--container .comentarios__body--show {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.comentarios__container--container .comentarios__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.comentarios__container--container .comentarios__texts {
  max-width: 700px;
}
.comentarios__container--container .comentarios__arrow {
  width: 90%;
  cursor: pointer;
}
.comentarios__container--container .comentarios__curso {
  background: rgba(132, 161, 255, 0.8);
  color: white;
  display: inline-block;
  padding: 5px;
}

.footer {
  color: rgba(43, 43, 134, 0.8);
  border-top: 1px solid rgba(43, 43, 134, 0.8);
  overflow-x: hidden;
}
.footer__icon {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
