.nav__container{
  width: 95%;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav__logo{
    font-family: $logo;
    letter-spacing: 5px;
  }

  .nav__list{
    margin-left: auto;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2em;
    

    .nav__link{
      text-decoration: none;
      text-transform: uppercase;
      color: $color1;
    }
  }

  .nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
  }

  .nav__close{
    display: $show;
  }

}